<html lang="en">
<head>
    <title>Main</title>
    <link rel="stylesheet" href="/static/styles/index_style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="/hello">
                    <img src="http://127.0.0.1:9000/minio-backend/logo.png" alt="Logo">
                </a>
            </div>
            <div class="navigation-bar">
                <div class="search">
                    <form action="/hello" method="GET">
                        <input type="text" name="query" placeholder="Для поиска введите что-нибудь" value="{{ .query }}">
                        <button class="find-button" type="submit"></button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <h1 class="title">Расчет температур экзопланет</h1>
        <div class="card-list">
            {{ range .orders }}
            <div class="card">
                <a href="/order/{{ .ID }}" class="card-image-link">
                    <div class="card-image">
                        <img src="http://127.0.0.1:9000/minio-backend/{{ .Image }}" alt="Planet">
                        <div class="card-title">{{ .Title }}</div>
                    </div>
                </a>
                <div class="card-footer">
                    <button>Добавить</button>
                </div>
            </div>
            {{ end }}
        </div>
    <a href="/temps-request" class="planet-button"></a>
</body>
</html>