<html lang="en">
<head>
    <title>Planet</title>
    <link rel="stylesheet" href="/static/styles/planet_style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet"></head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="/">
                    <img src="http://127.0.0.1:9000/minio-backend/logo.png" alt="Logo">
                </a>
            </div>
            <div class="navigation-bar">
                <div class="search">
                    <a href="/">
                        <h2 class="back-button">Вернуться назад</h2>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="planet-container">
        <div class="planet-image">
            <img src="http://127.0.0.1:9000/minio-backend/{{ .planet.Planet_image }}" alt="Planet">
        </div>
        <div class="planet-details">
            <h1 class="title">{{ .planet.Planet_title }}</h1>
            <p>{{ .planet.Planet_description }}</p>
            <p>Среднее значение Альбедо - {{ .planet.Albedo }}</p>
        </div>
    </div>
</body>
</html>