<html lang="en">
<head>
    <title>Main</title>
    <link rel="stylesheet" href="/static/styles/temps_request_style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="/">
                    <img src="http://127.0.0.1:9000/minio-backend/logo.png" alt="Logo">
                </a>
            </div>
            <div class="navigation-bar"></div>
        </div>
    </header>
    <main>
        <div class="star-chooser">
            <span class="label">Название звезды –</span>
            <span class="field text-field" contenteditable="true">{{ (index .temp_datas 0).Star_name }}</span>
            <span class="label">Тип звезды –</span>
            <span class="field text-field" contenteditable="true">{{ (index .temp_datas 0).Star_type }}</span>
            <span class="label">Температура звезды –</span>
            <span class="field white-field" contenteditable="true">{{ (index .temp_datas 0).Star_temperature }}</span>
            <span class="unit">К</span>
        </div>
        <div class="request-section">
            <h2 class="request-title">Составление заявки</h2>
            <p class="request-subtitle">Выбрано планет – {{ .request_count }}</p>
        </div>
        <div class="card-container">
            {{ range .temp_datas }}
            <div class="card">
                <img class="card-img" src="http://127.0.0.1:9000/minio-backend/{{ .Planet_image }}" alt="Planet">
                <div>
                    <h3 class="card-title">{{ .Planet_title }}</h3>
                    <div class="card-data-row">
                        <div class="card-row">
                            <span class="label">Альбедо –</span>
                            <span class="field gray-field">{{ .Albedo }}</span>
                        </div>
                        <div class="card-row">
                            <span class="label">Расстояние до звезды –</span>
                            <input class="field white-field" type="text" value="{{ .Planet_distance }}" readonly>
                            <span class="unit">млн км</span>
                        </div>
                        <div class="card-row">
                            <span class="label">Температура –</span>
                            <span class="field gray-field">{{ .Planet_temperature }}</span>
                            <span class="unit">К</span>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </main>
</body>
</html>